:root {
    --primary-bg: #f0f0f5;         /* Light pastel primary background */
    --secondary-bg: #d3d3e4;       /* Light pastel secondary background */
    --primary-text: #6a5acd;       /* Pastel purple primary text */
    --secondary-text: #6a5acd;     /* Pastel purple secondary text */
    --card-bg: #faf0e6;            /* Pastel orange card background */
    --card-header-bg: #ffdab9;     /* Pastel peach card header background */
    --card-text: #333;             /* Dark text for cards */
    --input-bg: #e0ffff;           /* Light pastel cyan input background */
    --input-text: #333;            /* Dark text for inputs */
    --input-outline: #ffb6c1;      /* Pastel pink outline for inputs */
    --btn-bg: #add8e6;             /* Light pastel blue button background */
    --btn-text: #333;              /* Dark text for buttons */
    --progress-bar-bg: #90ee90;    /* Light pastel green progress bar background */
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.dashboard-section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    text-align: center;
    font-size: 1rem;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
}

.table tbody tr:hover {
    background-color: var(--secondary-bg);
}

.alert {
    font-size: 1rem;
    text-align: center;
}

.btn {
    font-size: 1rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.btn:hover {
    background-color: lighten(var(--btn-bg), 10%);
    color: var(--btn-text);
}

.form-label {
    font-size: 1rem;
    color: var(--primary-text);
}

.form-control {
    font-size: 1rem;
    background-color: var(--input-bg);
    color: var(--input-text);
    border-radius: 5px;
    border: 1px solid var(--input-outline);  /* Pastel pink outline for input */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.form-control:focus {
    background-color: var(--input-bg);
    color: var(--input-text);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#login-encompass{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-heading{
	text-align: left;
}